<div class="container mt-2">
    <div class="jumbotron">
        <h1 class="display-5">Добро пожаловать в MyCoworking!</h1>
        <p class="lead">Здесь вы можете арендовать понравившееся рабочее помещение по подходящему именно вам тарифу.</p>
        <hr class="my-4">
        <p>Чтобы выбрать, ознакомьтесь с желаемыми типами помещений.</p>
        <div class="d-inline-flex flex-wrap">
            <button type="button" class="btn-lg btn-outline-primary" (click)="onCoworking()">Коворкинги</button><br>
            <button type="button" class="btn-lg btn-outline-primary" (click)="onDiscussion()">Переговорные</button><br>
            <button type="button" class="btn-lg btn-outline-primary" (click)="onOffice()">Офисы</button>
          </div>
      </div>
</div>
