<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="'/'">MyCoworking</a>
      <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNav" 
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" 
                [routerLink]="'/'" 
                [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact:true}"
            >Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
                [routerLink]="'/coworkings'" 
                [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact:true}"
            >Коворкинги</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
                [routerLink]="'/offices'" 
                [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact:true}"
            >Офисы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
                [routerLink]="'/discussions'" 
                [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact:true}"
            >Переговорные</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link"
                [routerLink]="'/tenants'" 
                [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact:true}"
                *ngIf="userService.isLoggedIn()"
            >Арендаторы</a>
            </li>
            
            <li class="nav-item">
              <a class="btn btn-outline-primary"
                *ngIf="!userService.isLoggedIn()"
                  [routerLink]="'/registration-form'" 
                  [routerLinkActive]="'active'"
                  [routerLinkActiveOptions]="{exact:true}"
              >Регистрация</a>
            </li>

          <li class="nav-item">
            <a class="btn btn-outline-primary"
              *ngIf="!userService.isLoggedIn()"
                [routerLink]="'/auth-form'" 
                [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact:true}"
            >Авторизация</a>
          </li>

          <li class="nav-item">
            <a class="btn btn-outline-primary"
                *ngIf="userService.isLoggedIn()"
                [routerLink]="'/user-profile'" 
                [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact:true}"
            >Кабинет пользователя</a>
          </li>

          
        </ul>
      </div>
    </div>
  </nav>